# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Dependencies
node_modules

# Build outputs
dist
*.tsbuildinfo

# Coverage
coverage

# Nix
result
.direnv
